Here you can tell other players about yourself. This information will be displayed alongside the data of your characters. If you do not want to fill in a certain field, just leave it blank.
<br/><br/>
<form action="{{ getLink('account/info') }}" method=post>
  <div class="TableContainer">
    <table class="Table1" cellpadding="0" cellspacing="0">
      <div class="CaptionContainer">
        <div class="CaptionInnerContainer">
          <span class="CaptionEdgeLeftTop"
                style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"/></span>
          <span class="CaptionEdgeRightTop"
                style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"/></span>
          <span class="CaptionBorderTop"
                style="background-image:url({{ template_path }}/images/content/table-headline-border.gif);"></span>
          <span class="CaptionVerticalLeft"
                style="background-image:url({{ template_path }}/images/content/box-frame-vertical.gif);"/></span>
          <div class="Text">Change Public Information</div>
          <span class="CaptionVerticalRight"
                style="background-image:url({{ template_path }}/images/content/box-frame-vertical.gif);"/></span>
          <span class="CaptionBorderBottom"
                style="background-image:url({{ template_path }}/images/content/table-headline-border.gif);"></span>
          <span class="CaptionEdgeLeftBottom"
                style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"/></span>
          <span class="CaptionEdgeRightBottom"
                style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"/></span>
        </div>
      </div>
      <tr>
        <td>
          <div class="InnerTableContainer">
            <table style="width:100%;">
              <tr>
                <td class="LabelV">Real Name:</td>
                <td style="width:90%;">
                  <input name="info_rlname" value="{{ account_rlname }}" size="30" maxlength="50">
                </td>
              </tr>
              <tr>
                <td class="LabelV">Address:</td>
                <td>
                  <input name="info_location" value="{{ account_location }}" size="30" maxlength="50">
                </td>
              </tr>
              <tr>
                <td class="LabelV">Phone:</td>
                <td>
                  <input name="info_phone" value="{{ account_phone }}" size="15" maxlength="11">
                </td>
              </tr>
              {% if config.account_country %}
                <tr>
                  <td class="LabelV">Country:</td>
                  <td>
                    <select name="info_country" id="account_country">
                      {% for code, country in countries %}
                        <option
                          value="{{ code }}"{% if account_country == code %} selected{% endif %}>{{ country }} </option>
                      {% endfor %}
                    </select>
                    <img src="" id="account_country_img"/>
                    <script>
                      function updateFlag() {
                        var img = $('#account_country_img');
                        var country = $('#account_country :selected').val();
                        if (country.length) {
                          img.attr('src', 'images/flags/' + country + '.gif');
                          img.show();
                        } else {
                          img.hide();
                        }
                      }

                      $(function () {
                        updateFlag();
                        $('#account_country').change(function () {
                          updateFlag();
                        });
                      });
                    </script>
                  </td>
                </tr>
              {% endif %}
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br/>
  <table width="100%">
    <tr align="center">
      <td>
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="border:0px;">
              <input type="hidden" name="changeinfosave" value="1">
              {{ include('buttons.submit.html.twig') }}
            </td>
          </tr>
        </table>
      </td>
      <td>
</form>
<table border="0" cellspacing="0" cellpadding="0">
  <form action="{{ getLink('account/manage') }}" method="post">
    <tr>
      <td style="border:0px;">
        {{ include('buttons.back.html.twig') }}
      </td>
    </tr>
  </form>
</table>
</td>
</tr>
</table>
