To change a sex of character select player and choose a new sex.<br/>
<span>Change sex cost: <b>{{ config.account_change_character_sex_coins }} {{ coin_name }}</b>.</span><br/>
<span>
  Coins Balance:
  {% if coins > 0 %}
    <span style="color: green; font-weight: bold">{{ coins }} {{ coin_name }}
         {% if coins < config.account_change_character_sex_coins %}
           <span style="color: red; font-weight: normal"> (you do not have {{ coin_name }} enough,
                 <a href="?donate" target="_blank">donate</a> now)</span>
         {% endif %}
      </span>
  {% else %}
    <span style="color: red; font-weight: bold">You do not have {{ coin_name }}, <a href="?donate" target="_blank">donate</a> now</span>
  {% endif %}
</span>
<br/><br/>
<form action="{{ getLink('account/character/sex') }}" method="post">
  <input type="hidden" name="changesexsave" value="1"/>
  <div class="TableContainer">
    <table class="Table1" cellpadding="0" cellspacing="0">
      <div class="CaptionContainer">
        <div class="CaptionInnerContainer">
          <span class="CaptionEdgeLeftTop"
                style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
          <span class="CaptionEdgeRightTop"
                style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
          <span class="CaptionBorderTop"
                style="background-image:url({{ template_path }}/images/content/table-headline-border.gif);"></span>
          <span class="CaptionVerticalLeft"
                style="background-image:url({{ template_path }}/images/content/box-frame-vertical.gif);"></span>
          <div class="Text">Change sex</div>
          <span class="CaptionVerticalRight"
                style="background-image:url({{ template_path }}/images/content/box-frame-vertical.gif);"></span>
          <span class="CaptionBorderBottom"
                style="background-image:url({{ template_path }}/images/content/table-headline-border.gif);"></span>
          <span class="CaptionEdgeLeftBottom"
                style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"/></span>
          <span class="CaptionEdgeRightBottom"
                style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"/></span>
        </div>
      </div>
      <tr>
        <td>
          <div class="InnerTableContainer">
            <table style="width:100%;">
              <tr>
                <td class="LabelV"><span>Character:</td>
                <td style="width:90%;">
                  <select name="player_id">
                    {% for player in players %}
                      <option value="{{ player.getId() }}">{{ player.getName() }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
              <tr>
                <td class="LabelV"><span>New Sex:</td>
                <td>
                  <select name="new_sex">
                    {% for id, gender in config.genders %}
                      <option value="{{ id }}"{% if player_sex == id %} selected{% endif %}>{{ gender }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br/>
  <table style="width:100%">
    <tr align="center">
      <td>
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="border:0px;">
              {{ include('buttons.submit.html.twig') }}
            </td>
          </tr>
          <tr>
</form>
</table>
</td>
<td>
  <table border="0" cellspacing="0" cellpadding="0">
    <form action="{{ getLink('account/manage') }}" method="post">
      <tr>
        <td style="border:0px;">
          {{ include('buttons.back.html.twig') }}
        </td>
      </tr>
    </form>
  </table>
</td>
</tr>
</table>
