To delete a character enter the name of the character and your password.<br/><br/>
<form action="{{ getLink('account/character/delete') }}" method="post">
	<input type="hidden" name="deletecharactersave" value="1"/>
	<div class="TableContainer">
		<table class="Table1" cellpadding="0" cellspacing="0" >
			<div class="CaptionContainer">
				<div class="CaptionInnerContainer">
					<span class="CaptionEdgeLeftTop" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
					<span class="CaptionEdgeRightTop" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
					<span class="CaptionBorderTop" style="background-image:url({{ template_path }}/images/content/table-headline-border.gif);"></span>
					<span class="CaptionVerticalLeft" style="background-image:url({{ template_path }}/images/content/box-frame-vertical.gif);"></span>
					<div class="Text" >Delete Character</div>
					<span class="CaptionVerticalRight" style="background-image:url({{ template_path }}/images/content/box-frame-vertical.gif);"></span>
					<span class="CaptionBorderBottom" style="background-image:url({{ template_path }}/images/content/table-headline-border.gif);"></span>
					<span class="CaptionEdgeLeftBottom" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
					<span class="CaptionEdgeRightBottom" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
				</div>
			</div>
			<tr>
				<td>
					<div class="InnerTableContainer">
						<table style="width:100%;">
							<tr>
								<td class="LabelV" ><span>Character Name:</span></td>
								<td style="width:90%;">
									<input name="delete_name" value="" size="30" maxlength="29"/>
								</td>
							</tr>
							<tr>
								<td class="LabelV" ><span>Password:</span></td>
								<td>
									<input type="password" name="delete_password" size="30" maxlength="29"/>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<br/>
	<table style="width:100%">
		<tr align="center">
			<td>
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td style="border:0px;">
							{{ include('buttons.submit.html.twig') }}
						</td>
					<tr>
</form>
				</table>
			</td>
			<td>
				<table border="0" cellspacing="0" cellpadding="0">
					<form action="{{ getLink('account/manage') }}" method="post">
						<tr>
							<td style="border:0px;">
								{{ include('buttons.back.html.twig') }}
							</td>
						</tr>
					</form>
				</table>
			</td>
		</tr>
	</table>