Please select the game world of your choice to see the list of all existing guilds on it. Click on any view button to get more information about a guild. See the manual for a detailed description about guilds and their benefits.
<br>
<br>
<br>
<div class="TableContainer">
    <div class="CaptionContainer">
        <div class="CaptionInnerContainer">
            <span class="CaptionEdgeLeftTop" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
            <span class="CaptionEdgeRightTop" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
            <span class="CaptionBorderTop" style="background-image:url({{ template_path }}/images/content/table-headline-border.gif);"></span>
            <span class="CaptionVerticalLeft" style="background-image:url({{ template_path }}/images/content/box-frame-vertical.gif);"></span>
            <div class="Text">Active Guilds on {{ config.lua.serverName }}</div>
            <span class="CaptionVerticalRight" style="background-image:url({{ template_path }}/images/content/box-frame-vertical.gif);"></span>
            <span class="CaptionBorderBottom" style="background-image:url({{ template_path }}/images/content/table-headline-border.gif);"></span>
            <span class="CaptionEdgeLeftBottom" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
            <span class="CaptionEdgeRightBottom" style="background-image:url({{ template_path }}/images/content/box-frame-edge.gif);"></span>
        </div>
    </div>

    <table class="Table3">
        <tbody>
            <tr>
                <td>
                    <div class="InnerTableContainer">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>

                                        <div class="TableContentAndRightShadow">
                                            <div class="TableContentContainer">
                                                <table class="TableContent" width="100%">
                                                    <tbody>
                                                        {% if guilds|length > 0 %}
                                                        <tr bgcolor="{{ config.darkborder }}">
                                                            <td width="64"><b>Logo</b></td>
                                                            <td><b>Description</b></td>
                                                            <td width="12%"><b>&nbsp;</b></td>
                                                        </tr>

                                                            {% set i = 0 %}
                                                            {% for guild in guilds %}
                                                            {% set i = i + 1 %}
                                                            <tr bgcolor="{{ getStyle(i) }}">
                                                                <td>
                                                                    <img src="images/guilds/{{ guild.logo }}" width="64" height="64">
                                                                </td>

                                                                <td style="word-break: break-all">
                                                                    <span{% if guild.description is not empty %} valign="top"{% endif %}>
                                                                        <b>{{ guild.name }}</b>{% if isAdmin %}<a href="?subtopic=guilds&action=delete_by_admin&guild={{ guild.name }}"> [DELETE]</a>{% endif %}
                                                                    </span>

                                                                    {% if guild.description is not empty %}
                                                                    <br>
                                                                    <span>{{ guild.description|raw }}</span>
                                                                    {% endif %}
                                                                </td>

                                                                <td>
                                                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="border:0;">
                                                                                    <form action="{{ guild.link }}" method="post">
                                                                                        {{ include('buttons.view.html.twig') }}
                                                                                    </form>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        {% else %}
                                                        <tr bgcolor="{{ config.darkborder }}">
                                                            <td valign="top">
                                                                <b>Create Guild</b>
                                                                <br/>
                                                                Actually there is no guild on server.{% if logged %} Create first! Press button "Create Guild"{% endif %}
                                                            </td>

                                                            {% if logged %}
                                                            <td>
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <form action="?subtopic=guilds&action=create" method="post">
                                                                        <form action="?subtopic=guilds&action=create" method="post">
                                                                            {% set button_name = 'Found Guild' %}
                                                                            {% set button_image = '_sbutton_foundguild' %}
                                                                            {% include('buttons.base.html.twig') %}
                                                                        </form>
                                                                    </form>
                                                                </table>
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>

<table border="0" cellspacing="1" cellpadding="4" width="100%">
    <tbody>
        <tr>
            <td align="center">
                <img src="{{ template_path }}images/general/blank.gif" width="80" height="1" border="0">
            </td>

            <td align="center">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        {% if logged %}
                        No guild found that suits your needs?
                        <form action="?subtopic=guilds&action=create" method="post">
                            {% set button_name = 'Found Guild' %}
                            {% set button_image = '_sbutton_foundguild' %}
                            {% include('buttons.base.html.twig') %}
                        </form>
                        {% else %}
                        <b>Before you can create a guild you must login.</b>
                        <br/>
                        <form action="?subtopic=accountmanagement&redirect={{ getLink('guilds') }}" method="post">
                            {% include('buttons.login.html.twig') %}
                        </form>
                        {% endif %}
                    </tbody>
                </table>

                {% if logged %}
                    <br/>
                    If you have any problem with guilds try:
                    <br/>
                    <a href="?subtopic=guilds&action=cleanup_players">Cleanup players</a> - can't join guild/be invited? Can't create guild? Try cleanup players.
                    <br/>
                    <a href="?subtopic=guilds&action=cleanup_guilds">Cleanup guilds</a> - made guild, you are a leader, but you are not on players list? Cleanup guilds!
                {% endif %}
            </td>

            <td align="center">
                <img src="{{ template_path }}/images/general/blank.gif" width="80" height="1" border="0">
            </td>
        </tr>
    </tbody>
</table>




