<div class="TableContainer">
  <div class="CaptionContainer">
    <div class="CaptionInnerContainer">
      <span class="CaptionEdgeLeftTop"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightTop"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionBorderTop"
            style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionVerticalLeft"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
      <div class="Text">News archive</div>
      <span class="CaptionVerticalRight"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
      <span class="CaptionBorderBottom"
            style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionEdgeLeftBottom"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightBottom"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
    </div>
  </div>
  <table class="Table3" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td>
        <div class="InnerTableContainer">
          <table style="width:100%;">
            <tbody>
            <tr>
              <td>
                <div class="TableContentContainer">
                  <table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
                    <tbody>
                    {% set i = 0 %}
                    {% for news in newses %}
                      {% set i = i + 1 %}
                      <tr bgcolor="{{ getStyle(i) }}">
                        <td width=4%>
                          <div style="text-align:center">
                            <img src="{{ constant('BASE_URL') }}images/news/icon_{{ news.icon_id }}_small.gif"/>
                          </div>
                        </td>
                        <td>{{ news.date|date('j.n.Y') }}</td>
                        <td>
                          <b><a href="{{ news.link }}">{{ news.title }}</a></b>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
