<table border="0" width="100%">
	<tbody>
	<tr>
		<td width="50%" style="padding: 0px 5px 10px 0px;">
			<div class="TableContainer">
				<div class="CaptionContainer">
					<div class="CaptionInnerContainer">
						<span class="CaptionEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionBorderTop" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
						<span class="CaptionVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
						<div class="Text">World Information</div>
						<span class="CaptionVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
						<span class="CaptionBorderBottom" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
						<span class="CaptionEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
					</div></div>
				<table class="Table1" cellpadding="0" cellspacing="0">
					<tbody><tr>
						<td>
							<div class="InnerTableContainer">
								<table style="width: 100%">
									<tbody>
									{% if not status.online %}
										<tr style="text-align: center">
											<td>{{ config.lua.serverName }} Server is offline.</td>
										</tr>
									{% else %}
										<tr>
											<td width="25%" class="LabelV150">Status: </td>
											<td>Online</td>
										</tr>
										<tr>
											<td width="25%" class="LabelV150">Players Online:</td>
											<td>{{ players|length }} Players Online</td>
										</tr>
										<tr>
											<td class="LabelV150">Online Record:</td>
											<td>{{ record|raw }}</td>
										</tr>
										<tr>
											<td class="LabelV150">Location Datacenter:</td>
											<td>Brasil<br><small>(Server Date: UTC - {{ current_date }})</small></td>
										</tr>
									{% endif %}
									</tbody>
								</table>
							</div>
						</td>
					</tr></tbody>
				</table>
			</div>
		</td>
		<td width="50%" style="padding: 0px 0px 10px 5px;">
			<div class="TableContainer">
				<div class="CaptionContainer">
					<div class="CaptionInnerContainer">
						<span class="CaptionEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionBorderTop" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
						<span class="CaptionVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
						<div class="Text">Frags</div>
						<span class="CaptionVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
						<span class="CaptionBorderBottom" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
						<span class="CaptionEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
					</div></div>
				<table class="Table1" cellpadding="0" cellspacing="0">
					<tbody><tr>
						<td>
							<div class="InnerTableContainer">
								<table style="width: 100%; text-align: center">
									<tbody>
									<tr><td><img src="images/white_skull.gif"/> - 1 - 6 Frags</td></tr>
									<tr><td><img src="images/red_skull.gif"/> - 6+ Frags or Red Skull</td></tr>
									<tr><td><img src="images/black_skull.gif"/> - 10+ Frags or Black Skull</td></tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr></tbody>
				</table>
			</div>
		</td>
	</tr>
	</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr>
		<td>
			<div class="TableContainer">
				<div class="CaptionContainer">
					<div class="CaptionInnerContainer">
						<span class="CaptionEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionBorderTop" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
						<span class="CaptionVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
						<div class="Text">Vocations Status</div>
						<span class="CaptionVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
						<span class="CaptionBorderBottom" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
						<span class="CaptionEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
					</div></div>
				<table class="Table5" cellpadding="0" cellspacing="0">
					<tbody><tr>
						<td>
							<div class="InnerTableContainer">
								<table style="width:100%;"><tbody><tr>
									<td>
										<div class="TableContentContainer">
											<table class="TableContent" width="100%">
												<tbody>
													<tr style="text-align: center">
														<td class="LabelV150">Sorcerers</td>
													</tr>
													<tr style="text-align: center">
														<td>{{ vocs[1] }}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</td>
										<td>
											<div class="TableContentContainer">
												<table class="TableContent" width="100%">
													<tbody>
													<tr style="text-align: center">
														<td class="LabelV150">Druids</td>
													</tr>
													<tr style="text-align: center">
														<td>{{ vocs[2] }}</td>
													</tr>
													</tbody>
												</table>
											</div>
										</td>
										<td>
											<div class="TableContentContainer">
												<table class="TableContent" width="100%">
													<tbody>
													<tr style="text-align: center">
														<td class="LabelV150">Paladins</td>
													</tr>
													<tr style="text-align: center">
														<td>{{ vocs[3] }}</td>
													</tr>
													</tbody>
												</table>
											</div>
										</td>
										<td>
											<div class="TableContentContainer">
												<table class="TableContent" width="100%">
													<tbody>
													<tr style="text-align: center">
														<td class="LabelV150">Knights</td>
													</tr>
													<tr style="text-align: center">
														<td>{{ vocs[4] }}</td>
													</tr>
													</tbody>
												</table>
											</div>
										</td>
								</tr></tbody></table>
							</div>
						</td>
					</tr></tbody>
				</table>
			</div>
		</td>
	</tr>
	</tbody>
</table>
<br>

<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr>
		<td>
			<div class="TableContainer">
				<div class="CaptionContainer">
					<div class="CaptionInnerContainer">
						<span class="CaptionEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionBorderTop" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
						<span class="CaptionVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
            <div class="Text">Players Online</div>
						<span class="CaptionVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
						<span class="CaptionBorderBottom" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
						<span class="CaptionEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
						<span class="CaptionEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
					</div></div>
				<table class="Table3" cellpadding="0" cellspacing="0">
					<tbody><tr>
						<td>
							<div class="InnerTableContainer">
								<table style="width:100%;"><tbody><tr><td>
											<div class="TableContentContainer">
												<table class="TableContent" width="100%">
													<tbody>
													{% if players|length == 0 %}
													<tr style="text-align: center">
														<td>Currently no one is playing on {{ config.lua.serverName }}.</td>
													</tr>
													{% else %}
													<tr bgcolor="#D4C0A1">
														{% if config.account_country %}
															<td class="LabelV150">#</td>
														{% endif %}
														{% if config.online_outfit %}
															<td class="LabelV150">Outfit</td>
														{% endif %}
														<td class="LabelV150">Name</td>
														<td class="LabelV150">Level</td>
														<td class="LabelV150">Vocation</td>
													</tr>
													{% set i = 0 %}
													{% for player in players %}
														{% set i = i + 1 %}
														<tr bgcolor="{{ getStyle(i) }}" style="height: 44px;">
															{% if config.account_country %}
																<td width="4%">{{ player.country_image|raw }}</td>
															{% endif %}
															{% if config.online_outfit %}
																<td width="10%"><img style="position:absolute;margin-top:{% if player.player.looktype in [75, 266, 302] %}-20px;margin-left:-0px;{% else %}-45px;margin-left:-25px;{%  endif %}" src="{{ player.outfit }}" alt="player outfit"/></td>
															{% endif %}
															<td width="50%">{{ player.name|raw }}{{ player.skull }}</td>
															<td>{{ player.level }}</td>
															<td>{{ player.vocation }}</td>
														</tr>
													{% endfor %}
													{% endif %}
													</tbody>
												</table>
											</div>
										</td></tr></tbody>
								</table>
							</div>
						</td>
					</tr></tbody>
				</table>
			</div>
		</td>
	</tr>
	</tbody>
</table>
<br>
