<div class="BoxContent" style="background-image:url({{ template_path }}/images/global/content/scroll.gif);">
    <div style="text-align: -webkit-center !important;">
        <table>
            <tbody>
                <tr>
                    <td><img src="{{ template_path }}/images/global/content/headline-bracer-left.gif"></td>
                    <td>
                        <form action="#" method="get" id="language-form"><br>
                            <label for="language-select"></label>
                            <select name="option" id="option-select" onchange="changeOption()">
                                <option value="1">EN</option>
                                <option value="2">PT-BR</option>
                            </select>
                        </form>
                    </td>
                    <td><img src="{{ template_path }}/images/global/content/headline-bracer-right.gif"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="content1">
        <div class="BoxContent" style="background-image:url({{ template_path }}/images/global/content/scroll.gif);">
	<div class="TableContainer">
		<div class="CaptionContainer">
			<div class="CaptionInnerContainer">
				<span class="CaptionEdgeLeftTop" style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
				<span class="CaptionEdgeRightTop" style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
				<span class="CaptionBorderTop" style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
				<span class="CaptionVerticalLeft" style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
				<div class="Text">Rules</div>
				<span class="CaptionVerticalRight" style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
				<span class="CaptionBorderBottom" style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
				<span class="CaptionEdgeLeftBottom" style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
				<span class="CaptionEdgeRightBottom" style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
			</div>
		</div>
		<table class="Table1" cellpadding="0" cellspacing="0">  <tbody><tr> <td> <div class="InnerTableContainer" style="max-width: unset;"> <table style="width:100%;"><tbody><tr><td>{{ config['lua']['serverName'] }} is an online role-playing game in which thousands of players from all over the world meet everyday. In order to ensure that the game is fun for everyone, {{ config['lua']['serverName'] }} expects all players to behave in a reasonable and respectful manner.<br><br>
		{{ config['lua']['serverName'] }} reserves the right to stop destructive behaviour in the game, on the official website or in any other part of {{ config['lua']['serverName'] }}'s services. Such behaviour includes, but is not limited to, the following offences:<br><br>
		<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td width="15"></td><td><table border="0" cellpadding="0" cellspacing="2" width="100%">
		<tbody><tr><td><b>1.</b></td><td><b>Names</b></td></tr>
		<tr><td></td><td><table border="0" cellpadding="0" cellspacing="3" width="100%">
		<tbody><tr><td valign="top"><b>a)</b></td><td><b>Offensive Name</b><br>
		Names that are insulting, racist, sexually related, drug-related, harassing or generally objectionable.
		</td></tr>
		<tr><td valign="top"><b>b)</b></td><td><b>Name Containing Forbidden Advertising</b><br>
		Names that advertise brands, products or services of third parties, content which is not related to the game or trades for real money.
		</td></tr>
		<tr><td valign="top"><b>c)</b></td><td><b>Unsuitable Name</b><br>
		Names that express religious or political views.
		</td></tr>
		<tr><td valign="top"><b>d)</b></td><td><b>Name Supporting Rule Violation</b><br>
		Names that support, incite, announce or imply a violation of the {{ config['lua']['serverName'] }} Rules.
		</td></tr>
		</tbody></table></td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td><b>2.</b></td><td><b>Statements</b></td></tr>
		<tr><td></td><td><table border="0" cellpadding="0" cellspacing="3" width="100%">
		<tbody><tr><td valign="top"><b>a)</b></td><td><b>Offensive Statement</b><br>
		Insulting, racist, sexually related, drug-related, harassing or generally objectionable statements.
		</td></tr>
		<tr><td valign="top"><b>b)</b></td><td><b>Spamming</b><br>
		Excessively repeating identical or similar statements or using badly formatted or nonsensical text.
		</td></tr>
		<tr><td valign="top"><b>c)</b></td><td><b>Forbidden Advertising</b><br>
		Advertising brands, products or services of third parties, content which is not related to the game or trades for real money.
		</td></tr>
		<tr><td valign="top"><b>d)</b></td><td><b>Off-Topic Public Statement</b><br>
		Religious or political public statements or other public statements which are not related to the topic of the used channel or board.
		</td></tr>
		<tr><td valign="top"><b>e)</b></td><td><b>Violating Language Restriction</b><br>
		Non-English statements in boards and channels where the use of English is explicitly required.
		</td></tr>
		<tr><td valign="top"><b>f)</b></td><td><b>Disclosing Personal Data of Others</b><br>
		Disclosing personal data of other people.
		</td></tr>
		<tr><td valign="top"><b>g)</b></td><td><b>Supporting Rule Violation</b><br>
		Statements that support, incite, announce or imply a violation of the {{ config['lua']['serverName'] }} Rules.
		</td></tr>
		</tbody></table></td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td><b>3.</b></td><td><b>Cheating</b></td></tr>
		<tr><td></td><td><table border="0" cellpadding="0" cellspacing="3" width="100%">
		<tbody><tr><td valign="top"><b>a)</b></td><td><b>Bug Abuse</b><br>
		Exploiting obvious errors of the game or any other part of {{ config['lua']['serverName'] }}'s services.
		</td></tr>
		<tr><td valign="top"><b>b)</b></td><td><b>Using Unofficial Software to Play</b><br>
		Manipulating the official client program or using additional software to play the game.
		</td></tr>
		</tbody></table></td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td><b>4.</b></td><td><b>{{ config['lua']['serverName'] }}</b></td></tr>
		<tr><td></td><td><table border="0" cellpadding="0" cellspacing="3" width="100%">
		<tbody><tr><td valign="top"><b>a)</b></td><td><b>Pretending to be {{ config['lua']['serverName'] }}</b><br>
		Pretending to be a representative of {{ config['lua']['serverName'] }} or to have their legitimation or powers.
		</td></tr>
		<tr><td valign="top"><b>b)</b></td><td><b>Slandering or Agitating against {{ config['lua']['serverName'] }}</b><br>
		Publishing clearly wrong information about or calling a boycott against {{ config['lua']['serverName'] }} or its services.
		</td></tr>
		<tr><td valign="top"><b>c)</b></td><td><b>False Information to {{ config['lua']['serverName'] }}</b><br>
		Intentionally giving wrong or misleading information to {{ config['lua']['serverName'] }} in reports about rule violations, complaints, bug reports or support requests.
		</td></tr>
		</tbody></table></td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td><b>5.</b></td><td><b>Legal Issues</b></td></tr>
		<tr><td></td><td><table border="0" cellpadding="0" cellspacing="3" width="100%">
		<tbody><tr><td valign="top"><b>a)</b></td><td><b>Hacking</b><br>
		Stealing other players' account or personal data.
		</td></tr>
		<tr><td valign="top"><b>b)</b></td><td><b>Attacking {{ config['lua']['serverName'] }} Service</b><br>
		Attacking, disrupting or damaging the operation of any {{ config['lua']['serverName'] }} server, the game or any other part of {{ config['lua']['serverName'] }}'s services.
		</td></tr>
		<tr><td valign="top"><b>c)</b></td><td><b>Violating Law or Regulations</b><br>
		Violating any applicable law, the {{ config['lua']['serverName'] }} Service Agreement or rights of third parties.
		</td></tr>
		</tbody></table></td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		</tbody></table></td><td width="15"></td></tr></tbody></table><br>
		Violating or attempting to violate the {{ config['lua']['serverName'] }} Rules may lead to a temporary suspension of characters and accounts. In severe cases the removal or modification of character skills, attributes and belongings, as well as the permanent removal of characters and accounts without any compensation may be considered. The sanction is based on the seriousness of the rule violation and the previous record of the player. It is determined at the sole discretion of {{ config['lua']['serverName'] }} and can be imposed without any previous warning.<br><br>
		These rules may be changed at any time. All changes will be announced on the official website.
		</td></tr> </tbody></table> </div> </td> </tr> </tbody></table>
	</div>
</div>
    </div>

    <div id="content2" style="display: none;">
<div class="BoxContent" style="background-image:url({{ template_path }}/images/global/content/scroll.gif);">
  <div class="TableContainer">
    <div class="CaptionContainer">
      <div class="CaptionInnerContainer">
        <span class="CaptionEdgeLeftTop" style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionEdgeRightTop" style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionBorderTop" style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
        <span class="CaptionVerticalLeft" style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
        <div class="Text">Regras</div>
        <span class="CaptionVerticalRight" style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
        <span class="CaptionBorderBottom" style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
        <span class="CaptionEdgeLeftBottom" style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionEdgeRightBottom" style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      </div>
    </div>
    <table class="Table1" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>
            <div class="InnerTableContainer" style="max-width: unset;">
              <table style="width:100%;">
                <tbody>
                  <tr>
                    <td>
                      {{ config['lua']['serverName'] }} e um jogo de interpretacao de personagens online no qual milhares de jogadores do mundo todo se encontram diariamente. Para garantir que o jogo seja divertido para todos, o Global Nova Era espera que todos os jogadores se comportem de maneira razoavel e respeitosa.<br><br>
                      O(a) {{ config['lua']['serverName'] }} reserva o direito de interromper comportamentos destrutivos no jogo, no site oficial ou em qualquer outra parte dos servicos oferecidos. Tais comportamentos incluem, mas nao se limitam aos seguintes delitos:<br><br>
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td width="15"></td>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="2" width="100%">
                                <tbody>
                                  <tr>
                                    <td><b>1.</b></td>
                                    <td><b>Nomes</b></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td>
                                      <table border="0" cellpadding="0" cellspacing="3" width="100%">
                                        <tbody>
                                          <tr>
                                            <td valign="top"><b>a)</b></td>
                                            <td><b>Nome Ofensivo</b><br>
                                              Nomes que sao insultuosos, racistas, sexualmente explicitos, relacionados a drogas, hostis ou geralmente objetaveis.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>b)</b></td>
                                            <td><b>Nome com Publicidade Proibida</b><br>
                                              Nomes que fazem publicidade de marcas, produtos ou servicos de terceiros, conteudo que nao esta relacionado ao jogo ou negociacoes com dinheiro real.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>c)</b></td>
                                            <td><b>Nome Inadequado</b><br>
                                              Nomes que expressam visoes religiosas ou politicas.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>d)</b></td>
                                            <td><b>Nome Apoiando Violacao de Regras</b><br>
                                              Nomes que apoiam, incitam, anunciam ou implicam uma violacao das Regras do Servidor.
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr><td colspan="2">&nbsp;</td></tr>
                                  <tr>
                                    <td><b>2.</b></td>
                                    <td><b>Declaracoes</b></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td>
                                      <table border="0" cellpadding="0" cellspacing="3" width="100%">
                                        <tbody>
                                          <tr>
                                            <td valign="top"><b>a)</b></td>
                                            <td><b>Declaracao Ofensiva</b><br>
                                              Declaracoes insultuosas, racistas, sexualmente explicitas, relacionadas a drogas, hostis ou geralmente objetaveis.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>b)</b></td>
                                            <td><b>Spam</b><br>
                                              Repeticao excessiva de declaracoes identicas ou semelhantes ou uso de texto mal formatado ou sem sentido.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>c)</b></td>
                                            <td><b>Publicidade Proibida</b><br>
                                              Publicidade de marcas, produtos ou servicos de terceiros, conteudo que nao esta relacionado ao jogo ou negociacoes com dinheiro real.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>d)</b></td>
                                            <td><b>Declaracao Publica Fora do Topico</b><br>
                                              Declaracoes publicas religiosas ou politicas ou outras declaracoes publicas que nao estao relacionadas ao topico do canal ou quadro utilizado.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>e)</b></td>
                                            <td><b>Violacao da Restricao de Idioma</b><br>
                                              Declaracoes nao em portugues em quadros e canais onde o uso do portugues e explicitamente exigido
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>f)</b></td>
                                            <td><b>Divulgar Dados Pessoais de Outros</b><br>
                                              Divulgar dados pessoais de outras pessoas.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>g)</b></td>
                                            <td><b>Apoiar Violacao de Regras</b><br>
                                              Declaracoes que apoiam, incitam, anunciam ou implicam uma violacao das Regras do {{ config['lua']['serverName'] }}.
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr><td colspan="2">&nbsp;</td></tr>
                                  <tr>
                                    <td><b>3.</b></td>
                                    <td><b>Fraude</b></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td>
                                      <table border="0" cellpadding="0" cellspacing="3" width="100%">
                                        <tbody>
                                          <tr>
                                            <td valign="top"><b>a)</b></td>
                                            <td><b>Exploracao de Bugs</b><br>
                                              Explorar erros obvios do jogo ou de qualquer outra parte dos servicos do(a) {{ config['lua']['serverName'] }}.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>b)</b></td>
                                            <td><b>Uso de Software Nao Oficial para Jogar</b><br>
                                              Manipular o programa cliente oficial ou usar software adicional para jogar o jogo.
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr><td colspan="2">&nbsp;</td></tr>
                                  <tr>
                                    <td><b>4.</b></td>
                                    <td><b>{{ config['lua']['serverName'] }}</b></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td>
                                      <table border="0" cellpadding="0" cellspacing="3" width="100%">
                                        <tbody>
                                          <tr>
                                            <td valign="top"><b>a)</b></td>
                                            <td><b>Fingir ser {{ config['lua']['serverName'] }}</b><br>
                                              Fingir ser um representante do(a) {{ config['lua']['serverName'] }} ou ter sua legitimacao ou poderes.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>b)</b></td>
                                            <td><b>Difamar ou Agitar Contra o(a) {{ config['lua']['serverName'] }}</b><br>
                                              Publicar informacoes claramente incorretas ou convocar um boicote contra o(a) {{ config['lua']['serverName'] }} ou seus servicos.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>c)</b></td>
                                            <td><b>Fornecer Informacoes Falsas o(a) {{ config['lua']['serverName'] }}</b><br>
                                              Dar intencionalmente informacoes erradas ou enganosas o(a) {{ config['lua']['serverName'] }} em relatorios sobre violacoes de regras, reclamacoes, relatos de bugs ou solicitacoes de suporte.
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr><td colspan="2">&nbsp;</td></tr>
                                  <tr>
                                    <td><b>5.</b></td>
                                    <td><b>Questoes Legais</b></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td>
                                      <table border="0" cellpadding="0" cellspacing="3" width="100%">
                                        <tbody>
                                          <tr>
                                            <td valign="top"><b>a)</b></td>
                                            <td><b>Hackeamento</b><br>
                                              Roubar a conta ou dados pessoais de outros jogadores.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>b)</b></td>
                                            <td><b>Atacar o Servico do(a) {{ config['lua']['serverName'] }}</b><br>
                                              Atacar, perturbar ou danificar a operacao de qualquer servidor do(a) {{ config['lua']['serverName'] }}, o jogo ou qualquer outra parte dos servicos do(a) {{ config['lua']['serverName'] }}.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><b>c)</b></td>
                                            <td><b>Violar Leis ou Regulamentos</b><br>
                                              Violar qualquer lei aplicavel, o Contrato de Servico do(a) {{ config['lua']['serverName'] }} ou direitos de terceiros.
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr><td colspan="2">&nbsp;</td></tr>
                                </tbody>
                              </table>
                            </td>
                            <td width="15"></td>
                          </tr>
                        </tbody>
                      </table><br>
                      Violar ou tentar violar as Regras do(a) {{ config['lua']['serverName'] }} pode levar a uma suspensao temporaria de personagens e contas. Em casos graves, a remocao ou modificacao das habilidades, atributos e pertences do personagem, assim como a remocao permanente de personagens e contas sem qualquer compensacao, pode ser considerada. A sancao e baseada na gravidade da violacao das regras e no historico anterior do jogador. E determinada a criterio exclusivo do(a) {{ config['lua']['serverName'] }} e pode ser imposta sem aviso previo.<br><br>
                      Essas regras podem ser alteradas a qualquer momento. Todas as alteracoes serao anunciadas no site oficial.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

    </div>

    <script>
        function changeOption() {
            var optionSelect = document.getElementById("option-select");
            var selectedOption = optionSelect.options[optionSelect.selectedIndex].value;

            // Exiba o conteúdo correspondente com base na opção selecionada
			if (selectedOption === "1") {
                document.getElementById("content1").style.display = "block";
                document.getElementById("content2").style.display = "none";
            } else if (selectedOption === "2") {
                document.getElementById("content1").style.display = "none";
                document.getElementById("content2").style.display = "block";
            }
        }
    </script>
</div>
